<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneratePDFWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GeneratePDFWorker.Properties.Settings>
            <setting name="OutputLocation" serializeAs="String">
                <value>C:\GeneratePdf\Output</value>
            </setting>
            <setting name="TestFilesLocation" serializeAs="String">
                <value>C:\GeneratePdf\TestFiles</value>
            </setting>
            <setting name="ImageFilesLocation" serializeAs="String">
                <value>C:\GeneratePdf\Images</value>
            </setting>
            <setting name="InputLocation" serializeAs="String">
                <value>C:\GeneratePdf\Input</value>
            </setting>
            <setting name="PageDefinitionsSchema" serializeAs="String">
                <value>PageDefinitionSchema.xsd</value>
            </setting>
        </GeneratePDFWorker.Properties.Settings>
    </applicationSettings>
</configuration>